<div>
  <select name="category" id="category">
    <option value="all" selected>全部類別</option>
    {{#each categories}}
    <option value="{{name}}">{{name}}</option>
    {{/each}}
  </select>
</div>
<div>
  <h2>總金額:</h2>
</div>
</div>
<div>
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        
        {{!-- err if using syntax: this.category or icons.name --}}
        <div class="{{#with (lookup ../icons [category])}}{{name}}{{/with}}"></div>

        <div>
          {{!-- works without this even without #each records as | record | --}}
          <div>{{name}}</div>
          <div>{{date}}</div>
        </div>

        <div>{{amount}}</div>

        <div>
          <a href="expenses/edit/{{_id}}">修改</a>
          <button type="button" 
                  class="fas fa-trash text-danger fa-lg btn btn-info" 
                  data-toggle="modal" 
                  data-target="#delete-modal-{{_id}}"
                  style="background: transparent; border:none; padding: 0px">
                  {{!-- data-bs-toggle does not work because we don't have v5 of Bootstrap --}}
                  刪除
          </button>
        </div>

      </div>
    </li>
    {{/each}}
  </ul>
</div>
<div>
    <a href="/expenses/new">新增支出紀錄</a>
</div>

{{!-- delete modal --}}
{{#each records}}
<div class="modal fade" id="delete-modal-{{_id}}" data-backdrop="static" tabindex="-1" data-keyboard="false" aria-labelledby="delete-modal-{{_id}}-Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        確定要刪除支出項目 <strong>{{name}}</strong> 嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
        <form action="/expenses/delete/{{_id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">確認刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}