<div>
  <select name="category" id="category">
    {{#each categories}}
    <option value="{{name}}">{{name}}</option>
    {{/each}}
  </select>
</div>
<div>
  <h2>總金額:</h2>
</div>
</div>
<div>
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        
        {{!-- err if using syntax: this.category or icons.name --}}
        <div class="{{#with (lookup ../icons [category])}}{{name}}{{/with}}"></div>

        <div>
          {{!-- works without this even without #each records as | record | --}}
          <div>{{name}}</div>
          <div>{{date}}</div>
        </div>

        <div>{{amount}}</div>

        <div>
          <a href="expenses/edit/{{_id}}">修改</a>
          <button>刪除</button>
        </div>

      </div>
    </li>
    {{/each}}
  </ul>
</div>
<div>
    <a href="/expenses/new">新增支出紀錄</a>
</div>
